/*----columns about our dinos--*/
.dino-cat{
    border: 5px solid black;
    text-align: center;
    margin: 20px 20px;
}
.columns {
    display: flex;
}

.info-col {
    margin: 50px auto;
    border: 5px solid black;
    text-align: center;

}
/*-----seprating about dino section---*/
.header, .header1 {
    border: 1px solid red;
    margin: auto;
    width: 200px;
}

.info {
    border: 5px solid black;
    margin: auto;
    width: 800px;
}


.images {
    padding: 20px 20px;
    
    }